# Exclude files and directories specified in .gitignore
exclude .gitignore
exclude .git/
exclude data/
exclude notebooks/
exclude workspace/

# Include specific files
include requirements.txt
include README.md
include CHANGELOG.md